.ctr-footer{

}

.ctr-footer .footer{
    height:100px;
    width:100%;
    padding:10px 25px;
    box-sizing: border-box;
    background: #212F3C;
    color:gray;
    border:1px solid rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}